// Specific CSS for your home-page
.home-landing {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: asset_url("allef-vinicius-IvQeAVeJULw-unsplash.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
  margin-top: -80px;
    h1 {
      color: white;
      font-size: 91px;
    }
    p {
      font-size: 20px;
      color: white;
      opacity: .7;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    }
}

.tagline {
  color: white;
  text-align: center;
  font-size: 92px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: 100;
}

.home-products {
  height: auto;
  // background-image: linear-gradient(rgba(0, 0, 0, 0.1),
  // rgba(0, 0, 0, 0.4)), asset_url("products.jpg");
  // background-attachment: fixed;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  background-color: rgb(220, 220, 220);
  padding-top: 40px;
  padding-bottom: 80px;
    h1 {
      padding-bottom: 50px;
    }
    
}

.home-staff {
  height: auto;
  background-color: #292929;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 80px;
  h1 {
    padding-bottom: 50px;
  }
}

.home-testamonials {
  height: auto;
  background-image: asset_url("testimonials-1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-top: 40px;
  padding-bottom: 80px;
  h1 {
    padding-bottom: 50px;
  }
}

.home-location {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.83);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 80px;

  .bottom-complex {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
  }
}


// Mobile 
@media(max-width: 375px) {
  .home-landing {
    height: 110vh;
    margin-top: 0;
    background-size: cover;
    background-position: top;
    width: auto;

    background-attachment: inherit;
  }
  .home-products {
    width: auto;
    h1 {
      padding: 24px 50px;
    }
  }
  .home-staff {
    height: auto;
    // background-image: asset_url("staff.jpg");
    width: auto;
  }
  .home-testamonials {
    height: auto;
    width: auto;
  }
  .home-location {
    width: auto;
    height: 85vh;
    h3 {
      font-size: 1.2rem;
    }
  }
}

@media (min-width: 992px) {
  .home-container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .home-staff {
    height: 100vh;
  }
}