// Specific CSS for your home-page
.home-container {
  // display: flex;
  // justify-content: center;
  background-image: asset_url("allef-vinicius-IvQeAVeJULw-unsplash.jpg");
  background-size: cover;
  height: 100vh;
  margin-top: -80px;
}


// Mobile 
@media(max-width: 375px) {
  .home-container {
    height: 100vh;
    margin-top: 0;
    background-size: cover;
    background-position: top;
  }
}