// Specific CSS for your home-page
.home-landing {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: asset_url("allef-vinicius-IvQeAVeJULw-unsplash.jpg");
  background-size: cover;
  height: 110vh;
  margin-top: -80px;
}

.home-landing h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.home-landing p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.tagline {
  color: white;
  text-align: center;
}

.home-products {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1),
  rgba(0, 0, 0, 0.4)), asset_url("products.jpg");
  background-position: center;
  background-size: cover;
  // display: flex;
  // justify-content: center;
  // align-items: center;
    h1 {
      padding: 24px;
      color: white;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      font-size: 32px;
      font-weight: bold;
    }
    
}

.home-staff {
  height: 100vh;
  background-image: asset_url("staff.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

}

.home-location {
  height: 100vh;
  background-image: asset_url("map.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;


}


// Mobile 
@media(max-width: 375px) {
  .home-landing {
    height: 100vh;
    margin-top: 0;
    background-size: cover;
    background-position: top;
  }
}