<div class="footer">
  
  <div class="footer-copyright text-center">
    Copyright 2020 Complex | Website by <a href="https://gavinrene.codes/" target="_blank" style="text-decoration: none; color: white"><strong>Gavin Garza</strong></a>
  </div>
</div>