<div class="footer">
  
  <div class="footer-copyright text-center">
    Copyright 2020 Complex | Website by <a href="#" style="text-decoration: none; color: white"><strong>GG</strong></a>
  </div>
</div>