<div class="home-container">
  <div class="home-landing">
    <h1 class="tagline">The Complex Gentleman's barbershop</h1>
      <div>
        <p class="tagline">Located in Pasco, Washington</p>
      </div>

  </div>
</div>


