<div class="home-container">
  <div class="home-landing">
    <h1 class="tagline">The Complex Gentleman's barbershop</h1>
  </div>

  <div class="home-products">
    <h1 class="tagline">Our high quality products</h1>
    
    <div class=""></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="home-staff">
    <h1 class="tagline">Meet our team</h1>
  
  </div>

  <div class="home-location">
  
  </div>

</div>


