<div class="home-container">
  <div class="home-landing">
    
    <div class="container">
      <h1><strong>The Complex</strong> Gentleman's barbershop</h1>
      <p>Located at 5025 N Rd 68 Suite F, Pasco, WA</p>
      <a class="btn btn-ghost" href="#">Book now</a>
    </div>
  </div>

  <div class="home-products">
    <h1 class="tagline">Our high quality products</h1>

    <div class="container">
      <div class="row">
        <div class="cards">
          <div class="col card-category" id="product1">
            Product 1
          </div>

          <div class="col card-category" id="product2">
            Product 2
          </div>

          <div class="col card-category" id="product3">
            Product 3
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="home-staff">
    <h1 class="tagline">Meet our team</h1>
    <div class="container">
      <div class="row">
        <div class="cards">     
          <div class="col card-category" id="team-member1">
            <ul class="social-icons">
              <li>
                <a href="">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
            </ul>
            <div class="details">
              <h2>Abel
              </h2>
            </div>
          </div>

          <div class="col card-category" id="team-member2">
            <ul class="social-icons">
              <li>
                <a href="">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
            </ul>
            <div class="details">
              <h2>Ced
              </h2>
            </div>
          </div>

          <div class="col card-category" id="team-member3">
            <ul class="social-icons">
              <li>
                <a href="">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
            </ul>
            <div class="details">
              <h2>Bert
              </h2>
            </div>
          </div>

          <div class="col card-category" id="team-member4">
            <ul class="social-icons">
              <li>
                <a href="">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
            </ul>
            <div class="details">
              <h2>Cris
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-testamonials">
    <% @barbers.each do |barber| %>
      <%= cl_image_tag barber.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
    
  
  </div>

  <div class="home-location">
  
  </div>

</div>


