<div class="home-container">
  <div class="home-landing">
    
    <div class="container">
      <h1><strong>The Complex</strong> Gentleman's barbershop</h1>
      <p>Located at 5025 N Rd 68 Suite F, Pasco, WA</p>
      <a class="btn btn-ghost" href="#">Book now</a>
    </div>
  </div>

  <div class="home-products">
    
    <h1 class="tagline">Our high quality products</h1>

    <div class="container">
      <div class="row">
        <div class="cards">
          <div class="col card-category" id="product1">
            Product 1
          </div>

          <div class="col card-category" id="product2">
            Product 2
          </div>

          <div class="col card-category" id="product3">
            Product 3
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="home-staff">
    <h1 class="tagline">Meet our team</h1>
  
  </div>

  <div class="home-location">
  
  </div>

</div>


