.card-category {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;

  height: 400px;
  width: 340px;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-category:hover li:nth-child(1) a {
    transition-delay: 0.1s;
}
.card-category:hover li:nth-child(2) a {
  transition-delay: 0.2s;
}
.card-category:hover li:nth-child(3) a {
  transition-delay: 0.3s;
}
.card-category:hover li:nth-child(4) a {
  transition-delay: 0.4s;
}

.card-hover {
  box-shadow: 4px 10px 8px rgba(171, 169, 169, 0.824), 0 10px 10px rgba(0,0,0,0.22);
  // transform: translateY(-40px);
  transition: all .9s;
    img {
      filter: grayscale(0.90);
    }
}

// Card grid

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  width: 100%;
  justify-content: center;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
    // left: 10%;
  }
  .card-category {
    height: 200px;
    width: 200px;
    margin-left: 22%;
  }
  
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .container-lg, .container-md, .container-sm, .container {
    max-width: fit-content;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
