.navbar-complex {
  justify-content: space-between;
  background: transparent;
  h3 {
    margin-top: 10px;
    font-weight: bold;
  }
}

.navbar-complex .navbar-collapse {
  flex-grow: 0;
}

.navbar-complex .navbar-brand img {
  width: 40px;
}
