.navbar-complex {
  justify-content: space-between;
  // background: transparent;
  h3 {
    margin-top: 14px;
    font-weight: bold;
  }
  align-items: baseline;
  display: flex;
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
  overflow: visible;
  // max-width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  // padding: 0 20px;

}

.navbar-complex .navbar-collapse {
  flex-grow: 0;
}

.navbar-complex .navbar-brand img {
  width: 50px;
  height: 50px;
}

.navbar {
  // padding: 0.5rem 2rem;
  color: white;
}

.navbar-nav {
  // font-size: 20px;
}

.nav-item {
  padding: 0 0 0 20px;
  color: white;
  text-decoration: none;
  margin: 0 6px;
  transition: .3s;
  z-index: 1;
  font-family: 'Teko', sans-serif;
  position: relative;
  font-size: 20px;

  &:before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 12px;
    width: 100%;
    height: 5px;
    background-color: #dfe2ea;
    border-radius: 8px 8px 0 0;
    opacity: 0;
    transition: .3s;
  }
}

.nav-item:not(.is-active):hover:before {
  opacity: 1;
  bottom: 0;
}


.nav-item:not(.is-active):hover { color: white; text-decoration: none; }

.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  transition: .4s;
  height: 5px;
  z-index: 1;
  border-radius: 8px 8px 0 0;
  background-color: #dfe2ea;
}

// #clock {
//   padding-right: 28px;
// }

// .dropdown {
//   border: white 2px solid;
//   border-radius: 50px;
// }

.dropdown-toggle {
  color: white;
}

.dropdown-toggle:hover{
  color: white;
}


// Mobile

@media(max-width: 375px) {
  .navbar-complex h3 {
    color: white;
  }


  .dropdown-toggle {
    color: white;
  }

  .dropdown-toggle:hover{
    color: white;
  }

  .nav-item {
    color: white;
  }

  .navbar-toggler {
    padding: 0.25rem 0;
    background-color: white;
    border-radius: 5px;
  }

  .show {
    border: none;
  }

  .show .navbar-nav {
    flex-direction: column;
  }

  .collapsing .navbar-nav {
    flex-direction: column;
  }
}
@media(max-width: 414px){
  .navbar-toggler {
    padding: 0.25rem 0;
    background-color: white;
    border-radius: 5px;
  }

  .navbar-expand-sm {
    background-color: black;
  }
}
